Node-Red_ALERT_LIGHT_CHECK.txt
[{"id":"ce2bef84.38d54","type":"function","z":"6bec52bd.88b34c","name":"Format Data for DB","func":"// Format Sensor Data for dashDB\nmsg.payload =\n{\n    AIR_PRESSURE : msg.payload.d.air_pressure,\n    AMBIENT_TEMP : msg.payload.d.ambient_temp,\n    OBJECT_TEMP : msg.payload.d.object_temp,\n    HUMIDITY : msg.payload.d.humidity,\n    ACC_X : msg.payload.d.acc_x,\n    ACC_Y : msg.payload.d.acc_y,\n    ACC_Z : msg.payload.d.acc_z,\n    GYRO_X : msg.payload.d.gyro_x,\n    GYRO_Y : msg.payload.d.gyro_y,\n    GYRO_Z : msg.payload.d.gyro_z,\n    COMPASS_X : msg.payload.d.compass_x,\n    COMPASS_Y : msg.payload.d.compass_y,\n    COMPASS_Z : msg.payload.d.compass_z,\n    LIGHT : msg.payload.d.light\n}\nreturn msg;","outputs":1,"noerr":0,"x":247,"y":304,"wires":[["20f607e2.0cedc8","40866215.0faeac"]]},{"id":"20f607e2.0cedc8","type":"debug","z":"6bec52bd.88b34c","name":"Debug - Data Sent to dashDB","active":true,"console":"false","complete":"payload","x":512,"y":154,"wires":[]},{"id":"40866215.0faeac","type":"dashDB out","z":"6bec52bd.88b34c","dashDB":"","service":"dashDB for Analytics-CMPE272","table":"TIDATA","name":"TIDATA","x":512,"y":237,"wires":[]},{"id":"14200bf4.f82874","type":"ibmiot in","z":"6bec52bd.88b34c","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"24718908ae01","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":75,"y":141.5234375,"wires":[["ce2bef84.38d54","4e23358.3b074cc"]]},{"id":"bae16507.883288","type":"e-mail","z":"6bec52bd.88b34c","server":"smtp.gmail.com","port":"465","secure":true,"name":"akanshamehta17@gmail.com;akmehta2004@gmail.com","dname":"Email Alert","x":526.5078125,"y":345.5234375,"wires":[]},{"id":"4e23358.3b074cc","type":"function","z":"6bec52bd.88b34c","name":"ALERT CHECK","func":"\n   // AIR_PRESSURE : msg.payload.d.air_pressure,\n  //  AMBIENT_TEMP : msg.payload.d.ambient_temp,\n   // OBJECT_TEMP : msg.payload.d.object_temp,\n  //  HUMIDITY : msg.payload.d.humidity,\n   // ACC_X : msg.payload.d.acc_x,\n   // ACC_Y : msg.payload.d.acc_y,\n   // ACC_Z : msg.payload.d.acc_z,\n //   GYRO_X : msg.payload.d.gyro_x,\n  //  GYRO_Y : msg.payload.d.gyro_y,\n  //  GYRO_Z : msg.payload.d.gyro_z,\n  //  COMPASS_X : msg.payload.d.compass_x,\n  //  COMPASS_Y : msg.payload.d.compass_y,\n  //  COMPASS_Z : msg.payload.d.compass_z,\n  //  LIGHT : msg.payload.d.light\nif(msg.payload.d.light > 100)\n\n{\n   \n//msg.payload = \"*ALERT* : Current light is \" + msg.payload.d.light;\nmsg.payload = \"*ALERT* : Current light is \" + msg.payload.d.light;\n//msg.payload.time = Date();\n\nreturn msg;\n}\n","outputs":1,"noerr":0,"x":122.5078125,"y":452.5234375,"wires":[["bae16507.883288","bd42086f.a91398"]]},{"id":"bd42086f.a91398","type":"debug","z":"6bec52bd.88b34c","name":"Debug","active":true,"console":"false","complete":"payload","x":322.5078125,"y":491.5234375,"wires":[]}]
